@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: Futura, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-family: Futura, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
/*
.header-border {
    border-bottom-style: solid;
} */

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: black;
}

.nav_links li a:hover {
  color: #0088a9;
}
.nav_links li a:visited {
  text-decoration: none;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.logo-image {
  height: 50px;
}

.video-overlay {
  background-image: url("/Images/video-background.jpg");
/*  background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
  height: 600px;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0);
}
.video-background-2 {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0);
  width: 600px;
}

.video {
  font-family: Futura, sans-serif;
  border: solid;
  border-width: 5px;
  height:auto;
  display: block;
}

.quotation {
 display: block;
 background-color: #EAEAEA;
 height: 200px;
 font-family: 'Didact Gothic', sans-serif;
 font-size: 21px;
 padding: 100px 0px;
 text-align: center;
 margin: 0;
}

.main {
  padding: 20px;
  font-family: Futura, sans-serif;
  text-align: center;
}

.main-title {
  padding-top: 200px;
  padding-bottom: 30px;
  font-size: 50px;
}

.main-title-recipies {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 35px;
}

.paragraph {
  position: relative;
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main-paragraph {
 text-align: center;
 padding: 30px;
 line-height: 1.6;
 padding-bottom: 200px;
}

.footer {
 width: 100%;
 background-color: #B397A5;
 margin: 0;
 left: 0;
 bottom: 0;
 padding: 10px;
 text-align: center;
 font-family: 'Arima Madurai', sans-serif;
}
.footer-text {
  text-align: right;
  background-color: #B397A5;
}
a.plain-link:link {
 color: #000000;
 text-decoration: none;
}
a.plain-link:visited {
 color: #000000;
 text-decoration: none;
}
.space {
  padding: 100px;
}
.space-recipies {
  padding: 66px;
}
.kettle {
  font-family: Futura, sans-serif;
  border-radius: 50%;
  border: solid;
  display: block;
  width: 100%;
 /*
  position: absolute;
  top: 80px;
  left: 250px;
  */
}
.tea {
  font-family: Futura, sans-serif;
  height: 200px;
  border-radius: 50%;
  border: solid;
  /*
  position: absolute;
  top: 80px;
  left: 600px;
  */
}
.beverage {
  font-family: Futura, sans-serif;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid;
  display: block;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Futura, sans-serif;
  color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.dog {
  position:relative;
  width: 200px;
  border-radius: 50%;
  display: inline-block;

}
.image-title {
  font-weight: bold;
}
